/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

p .pkeluar{
    color : #fff;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.container-custom{
    margin : 20px 0 0 auto;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
img.img-fluid.img-custom{
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

img.img-fluid.img-custom2{
    height : 200px ;
    width: 200px;
    border-radius: 50%;
    margin : 0 auto;
    border-style : outset;
}

.col-md-3.col-sm-12.col-xs-12.style-custom{
    margin-top: 20px;
}

img.img-fluid.img-custom1{
    height: 45px;
    border-radius: 50%;
    margin: 0 auto;
}
.navbar-custom{
    background-color: #262c81;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.custom-toggler.navbar-toggler{
    border-color: white;
}

.custom-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-height: 700px;
    min-width: 250px;
    max-width: 250px;
    background-color: #262c81;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
#sidebar.active .sidebar-header img{
    display : none;
}

#sidebar.active .sidebar-header img, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #262c81;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #262c81;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\f139';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\f13a';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #262c81;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    font-size: 1.2em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 0px;
    border-style : solid;
    border-color : white;
}

a.keluar {
    color: #fff;
    text-align: center;
}


div#home{
    color: cornflowerblue;
    border-left-color: inherit;
    border-left-style: solid; 
}

div#home1{
    color: darkgreen;
    border-left-color: inherit;
    border-left-style: solid; 
}

div#home2{
    color: coral;
    border-left-color: inherit;
    border-left-style: solid; 
}

div#home3{
    color: goldenrod;
    border-left-color: inherit;
    border-left-style: solid; 
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

marquee.style-marquee{
    color: white;
}
.error {
  color: red;
  border-color: red;
}

.form-custom{
    width : 750px;
}   

a.disabled{
    pointer-events:none;
}

.col-md-12.col-sm-12.custom,
.col-md-6.col-sm-6.custom,
.col-md-12.col-sm-12.custom{
    margin-top: 15px;
}

.justify-content-md-center.custom1{
    margin-top: 45px;
}

.col-md-auto.custom1{
    color: blue;
}

.col-md-12.tentang-kita-custom{
    border-left-color: goldenrod;
    border-left-style: solid;
    border-width: 6px;
    margin-top: 25px;
    background-color: #fcf6e9;
}

.col-md-12.tentang-kita-custom h5{
    color: goldenrod;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px){
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    
    .form-custom{
        width : 500px;
    }
    
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header img, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


form {
    border-width: 200px;
    /*padding: 50px;*/
    /*background: #FFFF;*/
}
form.form-register {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

form.form-tambah {
/*    margin: 0 auto;*/
    margin-top: 50px;
}

.warnalink , .warnalink:hover , .warnalink:focus{
    color : blue;
}

/*button {
    background-color: #182A40;
    color: white;
    padding: 8px 8px 8px 8px;
    margin: 4px 0;
    border-radius: 7px;
    cursor: pointer;
    width: 30%;
}

button:hover {
    opacity: 0.8;
}
*/
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/*img.avatar {
    width: 20%;
}*/

/*.container {
    padding: 45px;
    text-align: center;
    font-family: HP Simplified;
}*/
.title {
    padding: 20px;
    text-align: center;
}


